# a comment
  # a comment

var = 
R = split
 _1A=dir-
S = ${R}-${_1A}manu

manual node ${S}al${var}/
manual mono   mono-manual.html
manual chapter nonono=!/
manual section

# bad entries
texinfo         foo    http://whatever
texinfo
