# 
# 50texinfo.cnf
#
# You really can change stuff in this file, but it is NOT RECOMMENDED
# to play around with this file if you do not know what you are doing!
# Please leave this comment!
# -_- DebPkgProvidedMaps -_-
#
# Texinfo formats
# These formats are per default disabled as it is useless to have them
# texi2dvi and texi2pdf do *not* use these formats.
# If you want to enable the formats you have to uncomment the two lines
# AND(!!!) create symlinks 
#	texinfo -> tex
#	pdftexinfo -> pdfetex
# in /usr/bin
#texinfo         tex     -               -translate-file=cp227.tcx texinfo.ini
#pdftexinfo      pdfetex -               -translate-file=cp227.tcx *texinfo.ini
